/* simple-grid http://simplegrid.io/ for documentation*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2fc;
  font-weight: 300;
  color: #4e575d;
}

/*         Grid Styles         */
.row {
  position: relative;
  width: 100%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-4 {
  width: 28.33%;
  margin: auto;
}

/*         Navbar Styles       */
nav {
  background-color: #005b96;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(32,132,232,1) 8%, rgba(0,91,147,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(32,132,232,1) 8%,rgba(0,91,147,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(32,132,232,1) 8%,rgba(0,91,147,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2084e8', endColorstr='#005b93',GradientType=1 );
}

.navbar ul {
  padding: 10px 0;
  margin: 0;
}
.navbar li {
  color: white;
  display: inline;
  font-size: 14px;
  text-align: center;
  padding: 3px auto;
}

/*         Feed Styles         */
.feed {
  margin: 10px auto;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;
}

.feed li {
  display: inline-block;
  width: 48%;
}
/*         Card Styles         */
.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  margin-bottom: 8px;
}

img {
  width: 100%;
  height: 294px;
}

.card p {
  font-size: 15px;
  font-weight: 400;
}

.card h2 {
  margin: 0;
  padding: 8px 8px 8px 14px;
  text-align: left;
  font-size: 48px;
  font-weight: 200;
}

.card span {
  font-size: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
  display: block;
  text-align: left;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8rem;
  padding: 5px 20px 13px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
