/* simple-grid http://simplegrid.io/ for documentation*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2fc;
  font-weight: 300;
  color: #4e575d;
}

/*         Grid Styles         */
.row {
  position: relative;
  width: 100%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-4 {
  width: 28.33%;
  margin: auto;
}

/*         Navbar Styles       */
nav {
  background-color: #3a77f5;
}

.navbar ul {
  padding: 10px 0;
  margin: 0;
}
.navbar li {
  color: white;
  display: inline;
  font-size: 16px;
  text-align: center;
  padding: 3px auto;
}

/*         Feed Styles         */
.feed {
  margin: 10px auto;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;
}

.feed li {
  display: inline-block;
  width: 48%;
}
/*         Card Styles         */
.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  margin-bottom: 8px;
}

img {
  width: 100%;
  height:100%;
}

.card p {
  font-size: 18px;
  font-weight: 200;
}

.card h2 {
  margin: 0;
  padding: 8px 8px 8px 18px;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
}

.card h4 {
  font-size: 14px;
  padding-bottom: 6px;
  padding-left: 18px;
  text-align: left;
}

.description {
  overflow: hidden;
  line-height: 1.8rem;
  padding: 5px 20px 13px 20px;
}

.card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 1 ease;
}

.button-container {
  position: absolute;
  bottom: 28px;
  width: 100%;
}

.review-button {
  display: block;
  margin: 5px auto;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  padding: 20px;
  background-color: #3a77f5;
  color: #F9F9F9;
  position: relative;
}

.back-button {
  text-align: right;
}

.back-button > i {
  font-size: 28px;
  padding: 16px 16px 0 16px;
}
