/* simple-grid http://simplegrid.io/ for documentation*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2fc;
  font-weight: 300;
  color: #4e575d;
}

/*         Grid Styles         */
/*.row {
  position: relative;
  width: 100%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-4 {
  width: 28.33%;
  margin: auto;
}*/

/*         Navbar Styles       */
nav {
  background-color: #3a77f5;
}

/*         Feed Styles         */

.feed {
  position: relative;
  padding: 0 15px;
}

li {
  display: inline
}
/*         Card Styles         */

body {
  overflow-x: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  -webkit-transition: left 500ms ease;
  -moz-transition: left 500ms ease;
  transition: left 300ms ease;
}

.app-view {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.card {
  display: inline;
  margin: 14px 0 0 14px;
  height: 270px;
  width: 170px !important;
  float: left;
}

.wrapper > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.overlay-container {
  padding: 24px;
  color: white;
  font-weight: 100;
}

.overlay-container h2,
.overlay-container h4,
.overlay-container p {
  font-weight: 100;
}

.overlay-container h2 {
  margin-bottom: 0;
}

.overlay-container h4 {
  font-size: 14px;
  margin-top: 0;
}

.overlay-container p {
  font-size: 16px;
}

.material-icons {
  color: white;
}

.back {
  float: right;
}

.wrapper.open {
  width: 200%;
  left: -100%;
}

.rating-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
